@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    color: var(--text-base);
    letter-spacing: -0.5px;
}

body {
    position: relative;
    height: 100vh;
    flex-direction: column;
    background-color: var(--bg-black);
}

/* NAV BAR */
nav {
    height: 12%;
    position: sticky;
    justify-content: space-around;
    top: 0;
    gap: 8px;
    padding: 0 16px;
    background-color: var(--bg-black);
    z-index: 1000;
}

.logo button {
    position: relative;
    background: transparent;
    border: none;
}

.home button {
    width: 48px;
    height: 80%;
    background-color: var(--bg-grey);
    padding: 10px;
    position: relative;
    border: none;
    border-radius: 50px;
    transition: all 5ms ease-in-out 5ms;
}

.home button:hover {
    transform: scale(1.04);
    background-color: var(--bg-hover);
}

.search {
    height: 75%;
    width: 33%;
    padding: 0 16px;
    background-color: var(--bg-grey);
    border: none;
    border-radius: 32px;
    box-sizing: border-box;
}

.searchlogo {
    background: transparent;
    border: none;
    color: var(--text-base);
}

.search input {
    width: 100%;
    border: none;
    padding: 0 12.8px;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    outline: none;
}

.search input::placeholder {
    color: var(--text-base);
    background: transparent;
}

.search p {
    transform: translateY(-2.4px);
    font-size: 27.2px;
    font-weight: 100;
    padding-right: 8px;
}

.search:hover {
    background-color: var(--bg-hover3);
    transition: all 0.22s ease-out 0.22s;
}

.browselogo {
    background: transparent;
    border: none;
    padding: 0 1.6px;
}


.options ul {
    list-style: none;
    gap: 8px;
    padding-left: 48px;
    font-weight: 600;
    font-size: 16.4px;
}

.options ul li:hover {
    transform: scale(1.04);
    color: var(--bg-white);
    transition: all 5ms ease-in-out 5ms;
}

.options ul li a {
    text-decoration: none;
}

.options ul li a:hover {
    color: var(--bg-white);
}

.divide {
    height: 80%;
}

.divide p {
    font-weight: 200;
    font-size: 27.2px;
    transform: translateY(-2.4px);
    color: var(--bg-white);
    cursor: default;
    padding: 12.8px;
}

.install {
    padding: 16px;
    gap: 8px;
}

.install button,
img {
    transition: all 5ms ease-in-out 5ms;
}

.install button {
    background: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-wrap: nowrap;
}

.install button a {
    text-decoration: none;
}

.install:hover button a {
    color: var(--bg-white);
}

.install:hover button {
    color: var(--bg-white);
    transform: scale(1.05);
}

.install:hover img {
    filter: brightness(0) invert(1);
    /*to change to white color*/
    transform: scale(1.1);
}

.sign-up button {
    background: transparent;
    border: none;
}

.sign-up button a {
    font-weight: 600;
    font-size: 14px;
    padding: 8px;
    text-wrap: nowrap;
    text-decoration: none;
}

.sign-up button:hover {
    transform: scale(1.04);
    color: var(--bg-white);
    transition: all 5ms ease-in-out 5ms;
}

.sign-up button a:hover {
    color: var(--bg-white);
}

.log-in {
    height: 70%;
    transform: translateX(8px);
}

.log-in button {
    background-color: var(--bg-white);
    width: 112px;
    padding: 15px;
    border-radius: 50px;

}

.log-in button:hover {
    transform: scale(1.04);
    background-color: var(--bg-hover2);
    transition: all 5ms ease-in-out 5ms;
}

.log-in button a {
    color: var(--bg-black);
    font-weight: 650;
    font-size: 16.4px;
    text-decoration: none;
}

/* MAIN */
main {
    overflow-y: auto;
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: [first-col]34% [second-col]66% [third-col];
    grid-template-rows: [first-row]57.5% [second-row]42.5% [third-row];
    box-sizing: border-box;
}

.library {
    min-height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
    grid-row: first-row/third-row;
    grid-column: first-col/second-col;
    border-left: 10px solid var(--bg-black);
    border-right: 4px solid var(--bg-black);
    border-radius: 12px;
    box-sizing: border-box;
    background-color: var(--bg-base);
}

.create {
    height: 60%;
    width: 100%;
    flex-direction: column;
    min-height: 59%;
    overflow-y: auto;
    align-items: flex-start;
}

.create .yourlibrary {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    gap: 7px;
    background-color: var(--bg-base);
    z-index: 1000;
}

.yourlibrary img {
    height: 36px;
    width: 36px;
}

.yourlibrary p {
    color: var(--bg-white);
    font-size: 20px;
    font-weight: 600;
}

.create .saved {
    padding: 16% 0 0 0;
    height: 100%;
    width: 100%;
}

.saved ul {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 15px;
    box-sizing: border-box;
    gap: 7px;
    width: 100%;
    text-wrap: wrap;
}

.saved ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid var(--bg-hover);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: var(--bg-white);
    text-wrap: wrap;
}

.saved ul li img {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.saved ul li .musicsvg{
    display: flex;
    gap: 10px;
}

.saved ul li .playbuttonsvg{
    display: flex;
    justify-self: flex-end;
}

.saved .songinfo{
    display: flex;
    /* transform: translate(-105px); */
    flex-direction: column;
}

.saved .songinfo .songname{
    font-size: 15px;
    font-weight: 500;
    color: var(--bg-white);
}

.saved .songinfo .songartist{
    font-size: 11px;
    color: var(--bg-white);
}

.info {
    position: absolute;
    flex-direction: column;
    scrollbar-width: none;
    padding: 25.6px 22.4px;
}

.info .links {
    flex-wrap: wrap;
}

.info .links div {
    padding: 0px 15px 10px 0px;
}

.info .links a {
    text-decoration: none;
    font-size: 11.5px;
    font-weight: 400;

}

.info .cookies a {
    text-decoration: none;
}

.info .cookies a * {
    font-size: 12.5px;
    font-weight: 400;
    color: var(--bg-white);
}

.info .cookies a :hover {
    text-decoration: underline;
}

.info .language {
    top: 30px;
}

.info .language button {
    background: none;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 50px;
    padding: 6.4px 14.4px;
    gap: 8px;
}

.info .language button p {
    font-size: 14px;
    font-weight: 600;
    color: var(--bg-white);
}

.info .language button:hover {
    transform: scale(1.04);
    border: 1px solid var(--bg-white);
    box-sizing: border-box;
    transition: all 5ms ease-in-out 5ms;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    border-left: 4px solid var(--bg-black);
    border-right: 10px solid var(--bg-black);
    border-radius: 12px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to bottom, #1f1f1f, #000000);
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width: none;
    grid-row: first-row/third-row;
    grid-column: second-col/third-col;
}

.content .trending {
    min-height: 10%;
    width: 100%;
    flex: 0 0 auto;
    padding: 24px 0 0 40px;
}

.content .trending h2 a:hover {
    text-decoration: underline;
}

.content .trending h2 a {
    width: fit-content;
    font-size: 24px;
    font-weight: 700;
    color: var(--bg-white);
    text-decoration: none;
}

.content .songs {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 100px 28px;
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.content .songs .cards {
    height: 320px;
    width: 175px;
    padding: 12px;
    border-radius: 7px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 5px;
    flex-shrink: 0;
}

.content .songs .cards:hover {
    background-color: var(--bg-grey);
}

.content .songs .cards .poster {
    height: auto;
    width: 155px;
    border-radius: 6px;
    object-fit: contain;
}

.content .songs .cards .playlogo {
    position: absolute;
    top: 135px;
    left: 110px;
    opacity: 0;
    transition: all 0.25s ease-out;
}

.content .songs .cards:hover .playlogo {
    opacity: 1;
    top: 120px;
}

.content .songs .cards .title {
    width: 155px;
    height: auto;
}

.content .songs .cards .title a {
    font-size: 17px;
    font-weight: 500;
    color: var(--bg-white);
    text-decoration: none;
}

.content .songs .cards .title:hover {
    text-decoration: underline;
}

.content .songs .cards .artists {
    height: 60px;
    width: 155px;

}

.content .songs .cards .artists a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.content .songs .cards .artists a:hover {
    text-decoration: underline;
}

.playbar {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 15%;
    width: 100%;
    background-color: var(--bg-base);
    bottom: 0;
}

.songinfo {
    display: flex;
}

.playbuttons {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--bg-white);
    bottom: 0;
    gap: 10px;
}

.timeline {
    display: flex;
}

/* FOOTER */
footer {
    position: sticky;
    border-top: 7px solid var(--bg-black);
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    height: 10%;
}

footer a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
}

.preview .first-child {
    color: var(--bg-white);
    font-size: 14px;
    font-weight: 700;
}

.preview .second-child {
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 400;

}

.sign-up2 {
    height: 100%;
    padding: 16px;
}

.sign-up2 button {
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 12.8px;
    box-sizing: border-box;
    border-radius: 48px;
    background-color: var(--bg-white);
    color: var(--bg-black);
}

.sign-up2 button:hover {
    transform: scale(1.04);
    background-color: var(--bg-hover2);
    transition: all 5ms ease-in-out 5ms;
}